/* CSS Document obstarávající resp. design pro tisk.*/
@media print{
 
body
{
font-family:"Times New Roman";
font-family: 'Roboto Slab', serif;
background-color: white;
color: black;
}
nav
{
display: none;
}
aside
{
font-style: italic;
}

p, h1, h2, h3, form{
clear:both;
}

h1, h2, h3
{
font-family:"Times New Roman";
font-family: 'Roboto Slab', serif;
color: black;
font-size: 18px;
text-align: left;
}
h2
{
font-size: 14px;
}  
h3
{
font-size:13px;
}
p
{
font-family:"Times New Roman";
font-family: 'Roboto Slab', serif;
color: black;
font-size: 12px;
text-align: justify;
}

figure{
width: 300px;
height: auto;
float: left;
}

img
{
height:200px;
width: 300px;
}
.obrazekPipka{width: 240px;}
.obrazekDveAndulky{width: 150px;}
.fotkaAndulkaASedivacek{
    width: 180px;
}
#audioZvukyAndulky, audio, .nadpisFormulare, .textFormulare {
display:none;
}
figcaption
{
font-family:"Times New Roman";
font-family: 'Roboto Slab', serif;
color: black;
font-size: 12px;
text-align: left;
font-weight: normal;
font-style: italic;
}
ul, ol, li
{
font-family:"Times New Roman";
font-family: 'Roboto Slab', serif;
color: black;
font-size: 12px;
text-decoration:none;
}
a
{
text-decoration: none;
color: black;
font-family:"Times New Roman";
font-family: 'Roboto Slab', serif;
font-size: 12px;
}
form
{
display: none;
}
iframe
{
display: none;
}
.video{
display: none;
}
table
{
font-family:"Times New Roman";
font-family: 'Roboto Slab', serif;
color: black;
font-size: 12px;
text-align: left;
border-width: 1px;
border-style: solid;
border-color: black;
width: 100%;
border-collapse:collapse;
}
tr, th, td
{
font-family:"Times New Roman";
font-family: 'Roboto Slab', serif;
border-width: 1px;
border-style: solid;
border-color: black;
}
#odpovedClen, #odpovedUcast, #odpovedKoupe, #odpovedRuka, #odpovedVyvrh, #odpovedUlet,
#odpovedNemoc1, #odpovedNemoc2, #odpovedSeznamNemoci{
display: block;
}
#skrytOdpovedClen, #skrytOdpovedUcast, #skrytOdpovedKoupe, #skrytOdpovedRuka, #skrytOdpovedVyvrh,
#skrytOdpovedUlet, #skrytOdpovedNemoc, #skrytOdpovedSeznamNemoci{
display: none;
}
#zobrazitOdpovedClen, #zobrazitOdpovedUcast, #zobrazitOdpovedKoupe, #zobrazitOdpovedRuka, #zobrazitOdpovedVyvrh,
#zobrazitOdpovedUlet, #zobrazitOdpovedNemoc, #zobrazitOdpovedSeznamNemoci{
display: none;
}
}
