/* CSS Document pro všeobecné nastavení jednotlivých elementů webových stránek*/

body
{
background-color: rgb(204, 255, 204)
}

/*Definice společných vlastností pro hlavičku a patičku*/

header, footer
{
font-family: "Arial";
font-family: 'Roboto', sans-serif;
color: black;
background-color: rgb(255, 255, 128);
font-size: 1em;
border-width: 1em;
border-style:solid;
border-color: lightgreen;
margin: auto;
overflow: hidden;
padding-left:1em;
}
h1, h2, h3{
font-family: "Arial";
font-family: 'Roboto', sans-serif;
color: black;
font-weight: bold;
text-align: left;
}

h1
{
font-size: 2.5em;
}
h2
{
font-size: 2em;
}
h3
{
font-size: 1.5em;
}

/*Zakázání obtékání kolem textu a dalších elementů, u kterých to je nevhodné*/
h1,h2,h3, p, form, noscript{
clear:both;
}
li
{
margin-bottom: 1em;
}
/*V selektorech níže jsou naformátovány společné vlastnosti pro text u všech elementů.*/

p, nav, ul, ol, caption, figcaption, form, input, textarea, table, legend, noscript
{
font-family: "Arial";
font-family: 'Roboto', sans-serif;
color: black;
font-size: 1em;
font-weight: normal;
text-align: left;
}

a
{
color: blue;
}
a:link
{
text-decoration: none;
color: blue;
}
a:hover
{
text-decoration: underline;
color: blue;
}
a:active
{
color: lightblue;
text-decoration: underline;
}
a:visited
{color: purple;}

/*Zakázání dekorace odkazu v hlavním nadpisu a nastavení jeho barvy v každém případě na černou.*/

header h1 a, header h1 a:link, header h1 a:hover, header h1 a:visited, header h1 a:active
{
color: black;
text-decoration:none;
}

nav
{
color: white;
text-align:left;
margin:auto;
margin-top: 1em;
overflow: hidden;
background-color: rgb(89, 179, 0);
}
nav ul
{
list-style-type: none;
padding-bottom: 1em;
}
nav li
{
float: left;
padding-right: 1.50em;
}
nav a:link
{
text-decoration: none;
color: white;
}
nav a:hover
{
text-decoration: none;
color: white;
background-color: rgb(40, 77, 0);
}
nav a:active, nav a:visited
{
text-decoration: none;
color: white;
}
footer
{
margin-top: 1em;
clear:both;
font-style: italic;
}

th
{
text-align: center;
border-width: 2px;
border-style: solid;
border-color:black;
}

/*Nastavení elementu figure pro obalení obrázků a multimédií. Hlavní je zde nastavení
 stejně šířky, jakou mají tyto elementy, kvůli zobrazování popisky, figcaption,
 přesně pod tím elementem.*/

figure{
	float:left;
	overflow:hidden;
	width: 300px;
	height:auto;
	margin-left:auto;
	margin-right:3em;
	margin-bottom: 1em;
	
}
figcaption
{
font-size:0.90em;
text-align:left;
font-style:italic;
clear:both;
}
#audioZvukyAndulky{
clear: both;
width: auto; 
}

/*Nastavení pevného poměru výšky a šířky pro většinu obrázků.*/

img
{
height:200px;
width: 300px;
}

/*Ve třídách níže jsou upraveny šířky obrázků,  které jsou při normálním
poměru šišaté.*/

.obrazekPipka{width: 240px;}
.obrazekDveAndulky{width: 150px;}
.fotkaAndulkaASedivacek{
    width: 180px;
}

/*Nastavení hlavního div boxu, který obaluje hlavní obsah na jednotlivých stránkách.*/

.hlavniBox
{
border-width: 1em;
border-style: solid;
border-color: lightgreen;
padding-left: 1em;
padding-right: 1em;
margin-top: 1em;
overflow: hidden;
background-color: rgb(204, 255, 204);
}


noscript{
margin-bottom: 1em;
}

/*Nastavení odsazování u elementu noscript tam, kde normálně nefungovalo.*/

.noscript{
margin-bottom:1em;
clear: both;
}


fieldset{
overflow: hidden;
border-width: 2px;
border-style: solid;
border-color: lightgreen;
width: 450px;  
}

label{
display: block;
margin-bottom:0.2em;
text-align: left;
}
input, textarea{
margin-bottom: 0.5em;
text-align: left;    
}
#slider{
margin-bottom:0.5em;
margin-top: 0.5em;
}
textarea{
 width: 100%;
 height: 100px;
 resize: horizontal;
}
legend{
font-weight: bold;
font-size: 2em;
text-align: left;
margin-bottom: 0.5em;
text-align: left;
}
/*Samozřejmě, technicky tlačítko není pod formulářem, ale pro lepší přehlednost jsem takhle
tuto třídu pojmenoval.*/
.tlacitkoPodFormularem{
margin-bottom:1em;
margin-top: 1em;
}
.otazka
{
font-weight: bold;
}
.poznamka
{font-style: italic;
}

.DalsiObrazekVRade
{
margin-left:1em;
}
iframe
{width: 300px;height: 169px;border: none;}
table
{
text-align: left;
border-width: 2px;
border-style: solid;
border-color:black;
width: 100%;
border-collapse:collapse;

}
tr, td
{
border-width: 1px;
border-style:solid;
border-color:black;
text-align: left;
}
caption
{font-size: 1.5em;
font-weight: bold;
text-align: left;
margin-bottom: 0.5em;
}


audio{
width: 100%;
}
/*Nastavení kontejneru tabulky, aby byl od dalších kontejnerů (tabule)
odsazován o 0.5em.*/
.tabulka{
margin-bottom:1em;    
}

/*Schování jednotlivých odpovědí na stránce FAQ.*/

#odpovedClen, #odpovedUcast, #odpovedKoupe, #odpovedRuka, #odpovedVyvrh, #odpovedUlet,
#odpovedNemoc1, #odpovedNemoc2, #odpovedSeznamNemoci{
display: none;
}

/*Schování tlačítek pro skrytí jednotlivých odpovědí na stránce FAQ.*/

#skrytOdpovedClen, #skrytOdpovedUcast, #skrytOdpovedKoupe, #skrytOdpovedRuka, #skrytOdpovedVyvrh,
#skrytOdpovedUlet, #skrytOdpovedNemoc, #skrytOdpovedSeznamNemoci{
display: none;
}

#zobrazitNavigaci{
float: left;
clear:both;	
}

/*Nastavení pseudoelementu selekce pro prohlížeč Mozilla Firefox, jelikož normální nastavení nepodporuje.*/

::-moz-selection
{
color: yellow;
background: green;
}
::selection
{
color: yellow;
background: green;
}